* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 100%;
    list-style-type: none;
    /*text-transform: uppercase;*/
}

html{
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    background-color: black;
    background-image: url('images/cover_photo.jpeg');
    background-size: 1280px 625px;
    background-attachment: fixed;
    background-position: center;
    /*font-family: "Courier New", Courier, monospace;*/
    font-family:"Times New Roman", Times, serif;
}

.links {
    margin-top:20px;
    margin-right:20px;
    float:right;
    width:30%;
}

.links a{
    float:right;
}

.links img{
    width:20px;
    height:20px;
    margin-right: 10px;
}

.links img:hover{
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.Home {
    margin-top: 150px;
}

.header{
    color:#ffffff;
    font-size: 50px;
    font-weight: 700;
    padding-top:200px;
    text-align: center;
    text-shadow: 2px 2px #a1a1a1;
}

.pageName{
    color:#ffffff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px #a1a1a1;
    margin-left: 30%;
}

a {
    color:#ffffff;
}

.tempNav {
    float:left;
    width:30%;
    position:fixed;
}

li {
    margin-top:20px;
    margin-left:20px;
    text-transform: uppercase;
}

a:hover {
    color: #a1a1a1;
    transition-duration: 0.5s;
}

.homeContent{
    color:#a1a1a1;
    margin-top: 325px;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px black;
}
.content{
    height:90%;
}
iframe{
    margin-left:25%;
}

#Home{
    height:900px;
}

#Projects{
    height:900px;
}

#About{
    height:900px;
}

#Contact{
    height:900px;
}
